*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.screen{
  top: 1rem;
  left: 10px;
  position: relative;
  border: 2px solid black;
  width: 800px;
  height: 400px;
}

.character{
  position: absolute;
  left: 50px;
  top: 300px;
  height: 100px;
  width: 50px;
  background-color:rgb(0, 211, 226)
}

.block{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 350px;
  right: 0px;
  background-color: #000;
}

.move{
  animation: move 1s linear infinite;
}

@keyframes move{
  from{ right: 0px;}
  to{right: 850px;}
}

.jump{
  animation: jump .5s linear infinite;
}

@keyframes jump{
  0%{top: 300px;}
  25%{top: 200px;}
  75%{top: 200px}
  100%{top: 300px;}
}
/* Other ways this^ - transform translate */
