*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.screen{
  top: 1rem;
<<<<<<< HEAD
  left: 10px;
=======
  left: 1rem;
>>>>>>> 12b64854ee7ca4e261cbb48fea5bb972201b9779
  position: relative;
  border: 2px solid black;
  width: 800px;
  height: 400px;
}

.character{
  position: absolute;
<<<<<<< HEAD
  left: 50px;
=======
  left: 150px;
>>>>>>> 12b64854ee7ca4e261cbb48fea5bb972201b9779
  top: 300px;
  height: 100px;
  width: 50px;
  background-color:rgb(0, 211, 226)
}

.block{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 350px;
  right: 0px;
  background-color: #000;
}

.move{
<<<<<<< HEAD
  animation: move 1s linear infinite;
=======
  animation: move 2s linear infinite;
>>>>>>> 12b64854ee7ca4e261cbb48fea5bb972201b9779
}

@keyframes move{
  from{ right: 0px;}
  to{right: 850px;}
}

.jump{
  animation: jump .5s linear infinite;
}

@keyframes jump{
  0%{top: 300px;}
<<<<<<< HEAD
  25%{top: 200px;}
  75%{top: 200px}
  100%{top: 300px;}
}
/* Other ways this^ - transform translate */
=======
  35%{top: 200px;}
  75%{top: 200px}
  100%{top: 300px;}
}
>>>>>>> 12b64854ee7ca4e261cbb48fea5bb972201b9779
