*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: lightgreen;
}

h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);;
}

.screen{
  top: 1rem;
  left: 10px;
  position: relative;
  border: 2px solid black;
  width: 800px;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
}

.character{
  position: absolute;
  left: 50px;
  top: 300px;
  height: 100px;
  width: 50px;
  background-color:rgb(0, 211, 226)
}

.block{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 350px;
  right: -100px;
  background-color: #000;
}

.move{
  animation: move 1.5s linear infinite;
}

@keyframes move{
  from{ right: 0px;}
  to{right: 850px;}
}

.jump{
  animation: jump .5s linear infinite;
}

@keyframes jump{
  0%{top: 300px;}
  25%{top: 200px;}
  75%{top: 200px}
  100%{top: 300px;}
}
/* Other ways to animate this^ - transform translate */


button{
  margin: 5px 40vw;
  padding: 5px 10px;
}


@media screen and (max-width: 500px) {
  body {
    transform: scale(.6) translateX( -100px);
}